# azure-pipelines.yml
trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  dockerhubUsername: 'kavitharc'  # Replace with your Docker Hub username
  imageName: 'yamlpythonapp'                    # Replace with your image name
  tag: '$(Build.BuildId)'

steps:

# Step 1: Login to Docker Hub
- task: Docker@2
  displayName: 'Login to Docker Hub'
  inputs:
    containerRegistry: 'docker-connection'  # Docker Hub service connection name
    command: 'login'

# Step 2: Build Docker image
- task: Docker@2
  displayName: 'Build Docker image'
  inputs:
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(dockerhubUsername)/$(imageName):$(tag)
      $(dockerhubUsername)/$(imageName):latest
    arguments: '--pull'

# Step 3: Push Docker image to Docker Hub
- task: Docker@2
  displayName: 'Push to Docker Hub'
  inputs:
    command: 'push'
    tags: |
      $(dockerhubUsername)/$(imageName):$(tag)
      $(dockerhubUsername)/$(imageName):latest

# Step 4: Publish Kubernetes manifests
- task: PublishBuildArtifacts@1
  displayName: 'Publish K8s Manifests'
  inputs:
    PathtoPublish: 'manifests/'
    ArtifactName: 'manifests'
    publishLocation: 'Container'
